* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.align-top {
  border-radius: 50%;
}

.quote {
  text-align: justify;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-left: 50vw;
  margin-right: 20px;
  line-height: 1.3;
  font-size: 12px;
  color: green;
  height: 150px;
  overflow: hidden;
}
.time {
  color: #12344a;
  font-size: 3rem;
}
.date {
  font-weight: bold;
  color: #6a78ef;
  font-size: 1.2rem;
}
.greeting {
  font-size: 2rem;
}
.welcome {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bgImage::after {
  content: "";
  background-image: url("../src/Pages/Images/computer.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.3;
  background-size: cover;
  background-position: right;
}
.bgImage {
  min-height: 80vh;
}
.explore {
  display: grid;
  place-content: center;
  margin-top: 15px;
}
.explore1 {
  -webkit-animation: bounce 0.91s linear infinite alternate;
  animation: bounce 0.91s linear infinite alternate;
}
.explore1:hover {
  background-color: transparent !important;
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  to {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}

.nav-item {
  text-decoration: none;
  padding: 10px;
}

.nav-bar {
  padding: 0 !important;
  margin: 0 !important;
}

#about,
#project,
#contact {
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
  margin-top: 10px;
}

.about-card {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.about-img {
  height: 210px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.about-action {
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
}

.social {
  display: flex;
  justify-content: center;
}

.social-icon {
  color: rgb(106, 120, 239) !important;
}
.success {
  color: green;
  display: grid;
  place-content: center;
  font-size: 12px;
  height: 10px;
}

.error {
  color: red;
  display: grid;
  place-content: center;
  font-size: 12px;
  height: 10px;
}

.footer {
  text-align: center;
  background-color: rgb(204, 204, 204) !important;
  width: 100%;
  font-size: 12px;
  height: 100px;
  padding: 5px;
  margin-top: 30px;
}

.active-about {
  background-color: rgb(106, 120, 239) !important;
  color: black !important;
}

/* PROJECT */
.project-container1 {
  height: 100vh;
}

.project-container2 {
  padding: 7px;
}
.project-items p {
  margin: 5px;
}
.contact1 {
  border-radius: 5px;
}
.uplink {
  position: fixed;
  right: 15px;
  bottom: 70px;
  background-color: #ccc;
  font-size: 30px !important;
  border-radius: 100%;
}

.blog {
  display: flex;
  flex-grow: 1;
}

.contact-section {
  display: flex;
  flex-direction: column;
}
.contact-information {
  margin-bottom: 10px;
  padding: 5px;
}

@media screen and (min-width: 960px) {
  /* landing */
  .quote {
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 13px;
  }
  .time {
    color: #12344a;
    font-size: 5.5rem;
  }
  .date {
    font-weight: bold;
    color: #6a78ef;
    font-size: 2rem;
  }
  .greeting {
    font-size: 2.5rem;
  }
  .welcome {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  /* about */

  .about-card {
    flex-direction: row;
  }
  .about-img {
    height: 70vh;
    width: 30vw;
    border-radius: 10%;
  }
  .nav-item {
    text-decoration: none;
    padding: 10px;
    color: rgb(18, 52, 74);
    font-size: 1.2rem;
  }
  .about-content {
    width: 60%;
    margin-top: 20px;
  }
  .contact {
    width: 50vw !important;
  }
  .hidden {
    display: none;
  }
  .contact-section {
    display: flex;
    flex-direction: row;
  }
  .contact-information {
    width: 60%;
  }
  .contact-info {
    margin-top: 20px;
  }
  .contact-info > p {
    font-size: 1.2rem;
  }
}
